/*-----------------------------
Defaut styles
-----------------------------*/

.wp-block-button a {
    min-width: 158px;
    height: 50px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.wp-block-button a,
.wp-block-button a:hover {
    border-radius: 5px;
    color: #fff;
}


/* Header contact button */
header .wp-block-button__link.wp-element-button {
    border: 1px solid #2F4ABE;
    color: #2F4ABE;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    transition: background 0.3s ease;
}

header .wp-block-button__link.wp-element-button:hover {
    background: #2F4ABE;
    color: #fff;
}

/* Navigation Menu */
.wp-block-navigation .wp-block-page-list .wp-block-pages-list__item.wp-block-navigation-item a {
    text-transform: capitalize;
    color: #474A52;
    font-size: 16px;
}

.wp-block-navigation .wp-block-page-list .wp-block-pages-list__item.wp-block-navigation-item:hover a,
.wp-block-navigation .wp-block-page-list .wp-block-pages-list__item.wp-block-navigation-item.active a {
    color: #FC6E36;
}

/* Hero Content */
#block-f2e5d073-5dda-4e01-ac27-9f6a2ed0808f {
    padding: 200px 0;
}

#block-f2e5d073-5dda-4e01-ac27-9f6a2ed0808f h1 {
    color: #2F4ABE;
    line-height: 60px;
}

#block-f2e5d073-5dda-4e01-ac27-9f6a2ed0808f p {
    font-weight: 300;
    font-size: 14px;
    color: #474A52;
    margin: 30px 0;
    line-height: 27px;
}