<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained","contentSize":"100%"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;">
    <!-- wp:pattern {"slug":"pico-theme/main-hero"} /-->
    <!-- wp:pattern {"slug":"pico-theme/brands"} /-->
    <!-- wp:pattern {"slug":"pico-theme/about-us"} /-->
    <!-- wp:pattern {"slug":"pico-theme/features"} /-->
    <!-- wp:pattern {"slug":"pico-theme/tips-and-tricks"} /-->
    <!-- wp:pattern {"slug":"pico-theme/services"} /-->
    <!-- wp:pattern {"slug":"pico-theme/portfolio"} /-->
    <!-- wp:pattern {"slug":"pico-theme/teams"} /-->
    <!-- wp:pattern {"slug":"pico-theme/pricing"} /-->
</main>
<!-- /wp:group -->