<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained","contentSize":"100%"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;">
    <!-- wp:pattern {"slug":"cadent-seo/main-hero"} /-->
    <!-- wp:pattern {"slug":"cadent-seo/brands"} /-->
    <!-- wp:pattern {"slug":"cadent-seo/about-us"} /-->
    <!-- wp:pattern {"slug":"cadent-seo/features"} /-->
</main>
<!-- /wp:group -->